version: '3.6'
services:
  mysql:
    container_name: infra-mysql
    image: "metadatacenter/cedar-infra-mysql:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-mysql
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_KEYCLOAK_MYSQL_HOST}
    ports:
      - ${CEDAR_KEYCLOAK_MYSQL_PORT}:3306
    volumes:
      - log_mysql:/var/log/mysql
      - mysql_data:/var/lib/mysql
    environment:
      - CEDAR_MYSQL_ROOT_PASSWORD

  mongo:
    container_name: infra-mongo
    image: "metadatacenter/cedar-infra-mongo:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-mongo
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_MONGO_HOST}
    ports:
      - "${CEDAR_MONGO_PORT}:27017"
    volumes:
      - log_mongo:/data/log
      - mongo_data:/data/db
      - mongo_state:/data/state
      - mongo_configdb:/data/configdb
    environment:
      - CEDAR_MONGO_ROOT_USER_NAME
      - CEDAR_MONGO_ROOT_USER_PASSWORD
      - CEDAR_MONGO_APP_USER_NAME
      - CEDAR_MONGO_APP_USER_PASSWORD

  redis-persistent:
    container_name: infra-redis-persistent
    image: "metadatacenter/cedar-infra-redis-persistent:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-redis-persistent
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_REDIS_PERSISTENT_HOST}
    ports:
      - ${CEDAR_REDIS_PERSISTENT_PORT}:6379
    volumes:
      - log_redis:/log
      - redis_data:/data
    sysctls:
      - net.core.somaxconn=512

  opensearch:
    container_name: infra-opensearch
    image: "metadatacenter/cedar-infra-opensearch:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-opensearch
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_OPENSEARCH_HOST}
    ports:
      - ${CEDAR_OPENSEARCH_REST_PORT}:9200
      - ${CEDAR_OPENSEARCH_TRANSPORT_PORT}:9300
    volumes:
      - log_opensearch:/usr/share/opensearch/logs
      - opensearch_data:/usr/share/opensearch/data
    environment:
      - discovery.type=single-node
      - cluster.name=opensearch_cedar
      - plugins.security.disabled=true

  neo4j:
    container_name: infra-neo4j
    image: "metadatacenter/cedar-infra-neo4j:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-neo4j
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_NEO4J_HOST}
    ports:
      - ${CEDAR_NEO4J_REST_PORT}:7474
      - ${CEDAR_NEO4J_BOLT_PORT}:7687
    volumes:
      - log_neo4j:/logs
      - neo4j_data:/data
      - neo4j_state:/state
    environment:
      - CEDAR_NEO4J_USER_NAME
      - CEDAR_NEO4J_USER_PASSWORD
      - CEDAR_HOST
      - CEDAR_ADMIN_USER_API_KEY

  keycloak:
    container_name: infra-keycloak
    image: "metadatacenter/cedar-infra-keycloak:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-keycloak
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_KEYCLOAK_HOST}
    ports:
      - ${CEDAR_KEYCLOAK_HTTP_PORT}:8080
      - ${CEDAR_KEYCLOAK_HTTPS_PORT}:8443
    volumes:
      - log_keycloak:/opt/keycloak/data/log
      - keycloak_state:/opt/keycloak/data/state
    environment:
      - CEDAR_MYSQL_ROOT_PASSWORD
      - CEDAR_KEYCLOAK_MYSQL_USER
      - CEDAR_KEYCLOAK_MYSQL_PASSWORD
      - CEDAR_KEYCLOAK_MYSQL_PORT
      - CEDAR_KEYCLOAK_MYSQL_HOST
      - CEDAR_KEYCLOAK_MYSQL_DB
      - CEDAR_KEYCLOAK_ADMIN_USER
      - CEDAR_KEYCLOAK_ADMIN_PASSWORD
      - CEDAR_ADMIN_USER_API_KEY
      - CEDAR_HOST
      - CEDAR_RESOURCE_SERVER_HOST
      - CEDAR_RESOURCE_HTTP_PORT
      - CEDAR_NET_IP_MYSQL
      - CEDAR_KEYCLOAK_HTTP_PORT
      - CEDAR_KEYCLOAK_HTTPS_PORT

  nginx:
    container_name: infra-nginx
    image: "metadatacenter/cedar-infra-nginx:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-infra-nginx
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_NGINX_HOST}
    ports:
      - ${CEDAR_NGINX_HTTP_PORT}:80
      - ${CEDAR_NGINX_HTTPS_PORT}:443
    volumes:
      - log_nginx:/etc/nginx/log
      - cedar_cert:/usr/local/etc/certificates
    environment:
      - CEDAR_HOST
      - CEDAR_MICROSERVICE_HOST
      - CEDAR_KEYCLOAK_HOST
      - CEDAR_FRONTEND_EDITOR_HOST
      - CEDAR_FRONTEND_COMPONENT_HOST
      - CEDAR_FRONTEND_OPENVIEW_HOST
      - CEDAR_FRONTEND_MONITORING_HOST
      - CEDAR_FRONTEND_ARTIFACTS_HOST

networks:
  cedarnet:
    name: cedarnet
    external: true

volumes:
  log_neo4j:
    name: log_neo4j
  neo4j_data:
    name: neo4j_data
  neo4j_state:
    name: neo4j_state
  log_opensearch:
    name: log_opensearch
  opensearch_data:
    name: opensearch_data
  log_redis:
    name: log_redis
  redis_data:
    name: redis_data
  log_mongo:
    name: log_mongo
  mongo_data:
    name: mongo_data
  mongo_state:
    name: mongo_state
  mongo_configdb:
    name: mongo_configdb
  log_mysql:
    name: log_mysql
  mysql_data:
    name: mysql_data
  log_keycloak:
    name: log_keycloak
  keycloak_state:
    name: keycloak_state
  log_nginx:
    name: log_nginx
  cedar_cert:
    name: cedar_cert
    external: true
