version: '3.6'
services:
  mysql:
    container_name: mysql
    image: "metadatacenter/cedar-mysql:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-mysql
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_KEYCLOAK_MYSQL_HOST}
    ports:
      - ${CEDAR_KEYCLOAK_MYSQL_PORT}:3306
    volumes:
      - mysql_log:/var/log/mysql
      - mysql_data:/var/lib/mysql
    environment:
      - CEDAR_MYSQL_ROOT_PASSWORD

  mongo:
    container_name: mongo
    image: "metadatacenter/cedar-mongo:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-mongo
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_MONGO_HOST}
    ports:
      - "${CEDAR_MONGO_PORT}:27017"
    volumes:
      - mongo_log:/data/log
      - mongo_data:/data/db
      - mongo_state:/data/state
      - mongo_configdb:/data/configdb
    environment:
      - CEDAR_MONGO_ROOT_USER_NAME
      - CEDAR_MONGO_ROOT_USER_PASSWORD
      - CEDAR_MONGO_APP_USER_NAME
      - CEDAR_MONGO_APP_USER_PASSWORD

  redis-persistent:
    container_name: redis-persistent
    image: "metadatacenter/cedar-redis-persistent:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-redis-persistent
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_REDIS_PERSISTENT_HOST}
    ports:
      - ${CEDAR_REDIS_PERSISTENT_PORT}:6379
    volumes:
      - redis_log:/log
      - redis_data:/data
    sysctls:
      - net.core.somaxconn=512

  opensearch:
    container_name: opensearch
    image: "metadatacenter/cedar-opensearch:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-opensearch
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_OPENSEARCH_HOST}
    ports:
      - ${CEDAR_OPENSEARCH_REST_PORT}:9200
      - ${CEDAR_OPENSEARCH_TRANSPORT_PORT}:9300
    volumes:
      - opensearch_log:/usr/share/opensearch/logs
      - opensearch_data:/usr/share/opensearch/data
    environment:
      - discovery.type=single-node
      - cluster.name=opensearch_cedar
      - plugins.security.disabled=true

  neo4j:
    container_name: neo4j
    image: "metadatacenter/cedar-neo4j:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-neo4j
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_NEO4J_HOST}
    ports:
      - ${CEDAR_NEO4J_REST_PORT}:7474
      - ${CEDAR_NEO4J_BOLT_PORT}:7687
    volumes:
      - neo4j_log:/logs
      - neo4j_data:/data
      - neo4j_state:/state
    environment:
      - CEDAR_NEO4J_USER_NAME
      - CEDAR_NEO4J_USER_PASSWORD
      - CEDAR_HOST
      - CEDAR_ADMIN_USER_API_KEY

  keycloak:
    container_name: keycloak
    image: "metadatacenter/cedar-keycloak:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-keycloak
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_KEYCLOAK_HOST}
    ports:
      - ${CEDAR_KEYCLOAK_HTTP_PORT}:8080
      - ${CEDAR_KEYCLOAK_HTTPS_PORT}:8443
    volumes:
      - keycloak_log:/opt/keycloak/data/log
      - keycloak_state:/opt/keycloak/data/state
    environment:
      - CEDAR_MYSQL_ROOT_PASSWORD
      - CEDAR_KEYCLOAK_MYSQL_USER
      - CEDAR_KEYCLOAK_MYSQL_PASSWORD
      - CEDAR_KEYCLOAK_MYSQL_PORT
      - CEDAR_KEYCLOAK_MYSQL_HOST
      - CEDAR_KEYCLOAK_MYSQL_DB
      - CEDAR_KEYCLOAK_ADMIN_USER
      - CEDAR_KEYCLOAK_ADMIN_PASSWORD
      - CEDAR_ADMIN_USER_API_KEY
      - CEDAR_HOST
      - CEDAR_RESOURCE_SERVER_HOST
      - CEDAR_RESOURCE_HTTP_PORT
      - CEDAR_NET_IP_MYSQL

  nginx:
    container_name: nginx
    image: "metadatacenter/cedar-nginx:${CEDAR_DOCKER_VERSION}"
    build: ../../cedar-docker-build/cedar-nginx
    networks:
      cedarnet:
        ipv4_address: ${CEDAR_NGINX_HOST}
    ports:
      - ${CEDAR_NGINX_HTTP_PORT}:80
      - ${CEDAR_NGINX_HTTPS_PORT}:443
    volumes:
      - nginx_log:/etc/nginx/log
      - cedar_cert:/usr/local/etc/certificates
    environment:
      - CEDAR_HOST
      - CEDAR_MICROSERVICE_HOST
      - CEDAR_KEYCLOAK_HOST
      - CEDAR_FRONTEND_HOST

networks:
  cedarnet:
    name: cedarnet
    external: true

volumes:
  neo4j_log:
    name: neo4j_log
  neo4j_data:
    name: neo4j_data
  neo4j_state:
    name: neo4j_state
  opensearch_log:
    name: opensearch_log
  opensearch_data:
    name: opensearch_data
  redis_log:
    name: redis_log
  redis_data:
    name: redis_data
  mongo_log:
    name: mongo_log
  mongo_data:
    name: mongo_data
  mongo_state:
    name: mongo_state
  mongo_configdb:
    name: mongo_configdb
  mysql_log:
    name: mysql_log
  mysql_data:
    name: mysql_data
  keycloak_log:
    name: keycloak_log
  keycloak_state:
    name: keycloak_state
  nginx_log:
    name: nginx_log
  cedar_cert:
    name: cedar_cert
    external: true
